<div class="form-container" data-ng-controller="LoginCtrl" id="playground">
    <h1>Login</h1>
    <form ng-submit="login()">
        <div class="form-group compact-group">
            <label for="username" class="sr-only">Username</label>
            <div class="input-group">
                <span class="input-group-addon icon-user"></span>
				<input required id="email" name="email" placeholder="Email" class="form-control input-lg" ng-model="user.email" />
            </div>
            <label for="password" class="sr-only">Username</label>
            <div class="input-group last">
                <span class="input-group-addon icon-lock"></span>
                <input required id="password" type="password" name="password" placeholder="Password" class="form-control input-lg" ng-model="user.password" autofill />
            </div>
        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn-success btn-lg">Log in</button>
        </div>
    </form>
</div>
