<div class="form-container" data-ng-controller="RegisterCtrl" id="playground">
    <h1>Sign Up</h1>
    <form ng-submit="register()" class="signup">
        <div class="form-group compact-group">
            <label for="email" class="sr-only">Email</label>
            <div class="input-group">
                <span class="input-group-addon icon-mail"></span>
                <input id="email" type="text" name="email" placeholder="Email" class="form-control input-lg"
                        ng-model="user.email" />
            </div>
            <label for="password" class="sr-only">Password</label>
            <div class="input-group last">
                <span class="input-group-addon icon-lock"></span>
                <input id="password" type="password" name="password" placeholder="Password"
                        class="form-control input-lg"
                        ng-model="user.password" />
            </div>
            <div class="input-group last">
                <span class="input-group-addon icon-lock"></span>
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="ConfirmPassword"
                       class="form-control input-lg"
                       ng-model="user.confirmPassword" />
            </div>
        </div>
        <div class="button-holder">
            <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
        </div>
    </form>
</div>
