<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILetterService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:15681/LetterService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILetterService"
          contract="ILetterService" name="BasicHttpBinding_ILetterService" />
    </client>
  </system.serviceModel>
</configuration>