<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
 
        <services>
            <!-- Note: the service name must match the configuration name for the service implementation. -->
            <service name="LetterService.LetterService" behaviorConfiguration="LetterServiceBehaviors" >
                <!-- Add the following endpoint.  -->
                <!-- Note: your service must have an http base address to add this endpoint. -->
                <!--<endpoint contract="LetterService.ILetterService" binding="mexHttpBinding" address="mex" />-->
                <endpoint contract="LetterService.ILetterService"
                          binding="basicHttpBinding"
                          address="" />
            </service>
        </services>
 
        <behaviors>
            <serviceBehaviors>
                <behavior name="LetterServiceBehaviors" >
                    <!-- Add the following element to your service behavior configuration. -->
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
 
    </system.serviceModel>
</configuration>